{% extends "base.html.twig" %}
{% block body %}
    <form method="post">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1>Sign in with your Active Directory credentials (try <code>einstein / password</code>)</h1>
        <p>This demo authenticates against the public <a href="https://forumsys.com/tutorials/integration-how-to/ldap/online-ldap-test-server/">ForumSys Online LDAP Test Server</a>. See that page for a list of valid users.</p>
        <label for="inputUsername">Username</label>
        <input value="{{ last_username }}" name="username" id="inputUsername" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('login_form') }}">
        <div><label><input type="checkbox" name="_remember_me"> Remember me</label></div>
        <button type="submit">Login</button>
    </form>
{% endblock %}